$background-color-primary: #fc4f4f;
$background-color-secondary: #000018;
$background-color-terciary: #EBFF00;
$background-color-quaternary: #030303;

$color-text-primary: #f5deb3;
$color-text-secondary: #FFB800;
$color-text-terciary: #57fc57;
$color-text-quaternary: #fff;
$color-text-quinternary: #000000;
$color-text-sectenary: #66e9d7;

