.navbar {
    position: sticky;
    top: 0;
    padding: 15px;
}

.header__background {
    background-color: #000018;
}

.header__image { 
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.nav-link {
    font-size: 24px;
    color: white;
}

.nav-link:hover {
    color: #EBFF00;
}