.button {
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    color: black;
    background-color: #EBFF00;
}
/* Media Queries Botones del Index*/
@media (min-width: 640px) and (max-width: 768px) {
    .hero__buttons {
        flex-direction: column;
        max-width: 250px;
        margin: 0 auto;
        gap: 20px;
        text-align: center;
        margin-top: 60px;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .hero__buttons {
        flex-direction: column;
        max-width: 200px;
        margin: 0 auto;
        gap: 15px;
        text-align: center;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .button {
        padding: 12px 20px;
        margin-top: 40px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .button {
        padding: 8px 12px;
        font-size: 18px;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .button {
        padding: 6px 10px;
        font-size: 14px;
    }
}

/*Modificacion de Botones de la Card del Index*/

.advertisement__buttons {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.advertisement__button {
    padding: 12px 50px;
}